#container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  
  #pet {
    width: 200px;
    height: 200px;
    background-color: pink;
    margin: 50px auto;
  }
  
  #buttons {
    margin-bottom: 20px;
  }
  
  button {
    margin-right: 10px;
  }
  
  #stats {
    font-size: 20px;
    margin-top: 20px;
  }
  
  #stats p {
    margin-bottom: 5px;
  }
  
  #stats span {
    font-weight: bold;
  }
  