#logo img {
  align-self: center;
    width: 70px;
}

.hero {
    height: 20%;
    background-color: black;
    color: white;
}

#content {
  margin: auto;
}

#characters{
    
    background-size: cover;
    min-height: 100vh;
    position:relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

#testing{
    text-align: center;
    background-size: cover;
    min-height: 100vh;
    min-width: fit-content;
    position:relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}


#choosetitle {
    font-family:Helvetica;
}


  .character-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  
  .character-image-container {
    text-align: center;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  
  #character-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
  }
  
  .character-name {
    margin-bottom: 20px;
  }
  
  .turning-buttons {
    display: flex;
    justify-content: space-between;
    width: 100px;
  }
  

  
  #previous-button:focus,
  #next-button:focus {
    outline: none;
  }
  


  #namebox {
    max-width: 700px;
    width: 100%;
    margin: auto;

    height: 50vb;
    display: flex;
    align-items: center;
    justify-content: center;
  }
